<div class="card">
    <div class="card-header">
      Hijo
    </div>
    <div class="card-body">
      <div class="form-group">
       <!--  <label for=""></label> 
        <input type="text" name="nombre" id="nombre" class="form-control" placeholder="" [(ngModel)]='sNombre'>
        <small id="helpId" class="text-muted">Nombres y apellidos</small>
      </div>-->
      <button type="button" class="btn btn-primary" (click)='btnRespuesta()'>No me gusta {{nombre}}</button> 
    </div>
    <div class="card-footer text-muted">
      <p>Me llamo: {{nombre}}</p>
    </div>
  </div>